
$backgroundColor: #2b2b2b;
$secondaryColor: #FFCB4F;
$thirdColor: #DF700A;
$offWhite: #f0f0f0;

$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Montserrat', sans-serif;

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin button($background, $fontColor) {
    margin-top: 20px;
    width: 220px;
    height: 50px;
    font-size: 16px;
    border: 5px solid $secondaryColor;
    background-color: $background;
    color: $fontColor;
}

@mixin article() {
    margin: 15px;
    background-color: $offWhite;
    padding: 20px;
    border-radius: 15px;
}