
@import "_partials.scss";

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primaryFont;
    color: $secondaryColor;
    text-align: center;
}

body {
    background-color: $backgroundColor;

    .login-page {
        position: fixed;
        @include flex(row, center, center);
        height: 100vh;
        width: 100vw;
        background-color: $backgroundColor;
        z-index: 100;

        .fa-xmark {
            position: fixed;
            right: 20px;
            top: 20px;
        }

        form {
            @include flex(column, auto, auto);

            input {
                height: 55px;
                font-size: 18px;
                margin-top: 12px;
                color: black;
            }

            button {
                @include button($secondaryColor, black);
            }

            p {
                margin-top: 12px;
            }

            .error-msg {
                color: $thirdColor;
            }

            .register-btn {
                @include button(transparent, $secondaryColor);
            }
        }
    }

    .profile-page {
        @include flex (column, auto, center);
        height:  calc(100vh - 60px);
        background-color: $backgroundColor;
        z-index: 100;

        .profile-info {
            @include flex (column, auto, center);

            > * {
                margin-top: 12px;
            }

            .edit-profile-btn {
                margin-top: 20px;
                @include button(transparent, $secondaryColor);
            }

            p {
                font-family: $secondaryFont;
                font-weight: 300;
                color: $offWhite;
            }

            a {
                color: $offWhite;
                text-decoration: underline;
            }

            .logout-btn {
                border: none;
                font-size: 16px;
                text-decoration: underline;
                background-color: transparent;
                color: $thirdColor;
            }
        }

        .your-books {
            margin-top: 50px;
            @include flex(column, auto, center);

            .personal-books-list {
                @include flex(row, auto, auto);

                article {
                    @include article();

                    .book-cover {
                        @include flex(row, center, center);
                        height: 140px;
                        min-width: 90px;
                        overflow: hidden;
                        border-radius: 10px;
                    }

                    .book-title {
                        color: black;
                        margin-top: 12px;
                    }
                }
            }
        }

        .add-new-book-btn {
            margin-top: 20px;
            @include button($secondaryColor, black)
        }
    }

    .add-book-page {
        @include flex(column, auto, center);
        min-height: 100vh;
        background-color: $backgroundColor;
        z-index: 100;

        form {
            @include flex(column, auto, center);

            > * {
                margin-top: 15px;
            }

            input[type="text"]:not(.release-input) {
                width: 350px;
                height: 40px;
                font-size: 16px;
                color: black;
            }

            .radio-buttons, .checkboxes {
                width: 350px;
                @include flex(row, space-around, center);
                flex-wrap: wrap;

                > div {
                    @include flex(column, auto, center);

                    > * {
                        margin-top: 5px;
                    }
                }
            }

            .other-info {
                width: 350px;
                @include flex(row, space-between, auto);

                input {
                    width: 170px;
                    text-align: center;
                    height: 40px;
                    font-size: 16px;
                    color: black;
                }
            }

            .photo-upload {
                min-width: 350px;
                @include flex(column, auto, auto);
            }

            button {
                @include button($secondaryColor, black);
                margin-top: 40px;
            }
        }
    }

    .header {
        @include flex(row, space-between, auto);
        height: 60px;
        padding: 20px;

        .login-icon {

            p {
                font-size: 12px;
            }
        }
    }

    .main {
        @include flex(column, auto, auto);

        .intro {
            @include flex(column, center, center);
            height: calc(100vh - 60px);

            @media (min-width: 750px) {
                flex-direction: row;
            }

            .company-logo {
                @include flex(column, auto, center);

                @media (min-width: 750px) {
                    margin-bottom: 30px;
                }

                div {
                    height: 320px;

                    @media (min-width: 750px) {
                        height: 460px;
                    }
                }

                h1 {
                    margin: 10px;
                    font-size: 36px;

                    @media (min-width: 750px) {
                        font-size: 50px;
                    }

                    span {
                        color: $thirdColor;
                    }
                }
            }

            .intro-buttons {
                @include flex(column, auto, center);
                margin: 20px;

                button {
                    @include button(transparent, $secondaryColor);
                    margin-top: 12px;

                    @media (min-width: 750px) {
                        margin-left: 30px;
                    }
                }

                .share-btn {
                    @include button($secondaryColor, black);
                }
            }
        }

        .books {
            @include flex(column, auto, center);
            margin-bottom: 140px;
            width: 100%;

            h2 {
                margin-top: 40px;
            }
            
            .books-list {
                @include flex(column, auto, center);
                width: 100%;

                article {
                    @include flex(row, auto, auto);
                    @include article();
                    margin-top: 50px;
                    width: 80%;
                    min-width: 340px;
                    max-width: 700px;
                    position: relative;
                                            
                    p, i {
                        color: black;
                    }

                    .book-cover {
                        @include flex(row, center, center);
                        height: 140px;
                        min-width: 90px;
                        overflow: hidden;
                        border-radius: 10px;
                    }

                    .book-info {

                        p {
                            text-align: left;
                            margin-top: 5px;
                            margin-left: 10px;
                            font-family: $secondaryFont;
                        }

                        .book-title {
                            font-weight: bold;
                        }

                        p:not(.book-title) {
                            font-size: 12px;
                        }
                    }

                    .book-owner {
                        background-color: $thirdColor;
                        border-radius: 10px;
                        width: 190px;
                        position: absolute;
                        padding: 10px;
                        bottom: -20px;
                        right: 20px;
                        font-size: 12px;
                    }

                    .book-type {
                        position: absolute;
                        width: 50px;
                        right: 20px;
                        top: 20px;
                        
                        p {
                            font-size: 12px;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }

    .footer {
        @include flex(row, center, center);
        min-height: 120px;
        background-color: black;

        .company-address {
 
            p {
                font-family: $secondaryFont;
            }
        }
    }
}

.hidden {
    visibility: hidden;
}

.hide {
    display: none !important;
}

button, a, i:not(.book-icon) {
    cursor: pointer;
}

i {
    font-size: 24px;
}

img {
    max-height: 100%;
}